---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/realcharlesletellier" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: realcharlesletellier@gmail.com"><span class="mail-icon">Email</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://www.linkedin.com/in/realcharles/" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
        </ul>
        <small>&copy; {year} Charles. All rights reserved.</small>
    </div>
</footer>

